.profile{
    display: flex;
}

.profileRight{
    flex: 9;
}

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}

@media  only screen and (min-width: 600px) {
    .rightbarInformation1 {
        display: none;
    }
}

@media  only screen and (max-width: 600px) {
    .rightbarInformation1 {
    padding-left: 6%;
  }

  .rightbarTitle{
      display: none;
      margin-bottom: 20px;
  }

  .rightbarTitle{
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
  }

  .rightbarInfo{
      margin-bottom: 30px;
  }

  .rightbarInfoItem{
     margin-bottom: 10px;
  }

  .rightbarInfoKey{
      font-weight: 500;
      margin-right: 15px;
      color: #555;
  }

  .rightbarInfoValue{
      font-weight: 300;
  }
}